/* Estilo Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid #388E3C;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin: 20px 0;
}

/* Navegação */
nav {
    background-color: #388E3C;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #FFC107;
}

/* Formulário de Cadastro */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

form h3 {
    margin-top: 10px;
    font-size: 1.3rem;
}

form label {
    display: block;
    margin: 10px 0;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #388E3C;
}

/* Seção de Produtos */
.produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.produto {
    background-color: white;
    width: 220px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.produto:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.produto h3 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.produto span {
    font-size: 1.2rem;
    color: #388E3C;
    margin-top: 5px;
    display: block;
}

.produto button {
    background-color: #FFC107;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.produto button:hover {
    background-color: #FF9800;
}
